@import url('https://fonts.googleapis.com/css2?family=Lora&family=Mukta:wght@200;300;400;500&display=swap');

body{
    padding: 1rem 3rem;
    font-family: 'Lora', serif;
    color: darkblue;
    background-color: rebeccapurple;
}
#apresentacao > img{
    width: 200px;
    border-radius: 50%;
}
#apresentacao > div{
    width: 50%;
}
a{
    text-decoration: none;
}
body > nav > a{
    font-size: x-large;
}
.sem-serifa{
    font-family: 'Mukta', sans-serif;
    color: #003566;
}


@media (min-width: 768px) {
    
    
    nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10rem;
    }
    body > nav > div > a{
        padding: 0 0.3rem;
    }
    #apresentacao {
        display: flex;
        justify-content: space-evenly;
    }
}


@media (max-width: 768px) {
    
    nav{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 8rem;
    }
    body > nav > div{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }
    body > nav > div > a{
        padding: 0.3rem 0;
    }
    #apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #apresentacao > div{
        text-align: center;
    }
}